@import "../../../utils/mixins";
@import "../../../utils/vars";

.card-matches {
  @include card;
  @include caption;
  @include stars;

  &__star-red,
  &__star-silver,
  &__star-gray {
    @include star-size;
    right: -3px;
  }

  @include play;
  @include live;

  &__data {
    @include data;
    top: 72px;
  }

  &__teams {
    padding: 0 0 10px 25px;
  }

  &__team2 {
    margin-left: 15px;
  }

  &__players {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__player,
  &__time,
  &__score-win,
  &__score-lose {
   @include h5-text-style;
  }

  &__score-lose--g,
  &__player--g,
  &__time--g {
    color: $c-dark-gray;
  }

  &__score-win,
  &__score-lose {
    padding: 1px 13px;
  }

  &__rate {
    background-color: $c-light-gray;
    padding: 1px 13px;
    text-align: center;
    border: 1px solid rgba(151, 151, 151, 0.1);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $c-black;

    &:first-child {
      margin-bottom: 14px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 0 25px;
  }

  &__info {
    letter-spacing: 0.01em;
    color: $c-dark-gray;
    transform: translate(0, -6px);
  }

  &__caption,
  &__live,
  &__info,
  &__data {
   @include caption-text-style;
  }
}

@media (max-width: 730px) {
  .card-matches {
    width: 374px;
    height: 250px;

    &__caption {
      padding: 15px 0 0 25px;
    }

    &__star-red {
      right: -50.5px;
      top: -1px;
    }

    &__star-silver,
    &__star-gray {
       right: -51.5px;
    }

    &__players {
      position: relative;
      top: -90px;
    }

    &__teams {
      position: relative;
      top: -95px;
    }

    &__play {
      top: 20px;
    }

    &__live {
      font-size: 12px;
      font-weight: bold;
      top: 63px;
      width: 54px;
      text-align: center;
      line-height: 15px;
    }

    &__footer {
      position: relative;
      top: -97px;
    }

    &__caption,
    &__players,
    &__teams,
    &__footer {
      padding-left: 15px;
    }
  }
}

@media (max-width: 360px) {
  .card-matches {
    &__star-red,
    &__star-silver,
    &__star-gray {
      right: -36.5px;
    }
  }
}

@media (max-width: 320px) {
  .card-matches {
    &__star-red,
    &__star-silver,
    &__star-gray {
      right: 0;
    }
  }
}