@import "../../../utils/mixins";
@import "../../../utils/vars";

.card-battles {
  @include card;
  @include caption;
  @include stars;

  &__star-red,
  &__star-silver,
  &__star-gray {
    @include star-size;
    right: -51px;
  }

  @include play;
  @include live;

  &__data {
    @include data;
    top: 65px;
  }

  &__pubg {
    padding: 0 0 10px 25px;
  }

  &__groups {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__group,
  &__time {
    @include h5-text-style;
  }

  &__group:first-child {
    margin-bottom: 5px;
  }

  &__match {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 10px 13px;
    margin-top: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: $c-dark-gray;
  }

  &__footer {
    display: flex;
    padding: 20px 25px 0 25px;
  }

  &__info {
    letter-spacing: 0.01em;
    color: $c-dark-gray;
    transform: translate(0, -2px);

    &--margin {
      margin-left: 10px;
    }
  }
  
  &__caption,
  &__live,
  &__info,
  &__data {
    @include caption-text-style;
  }
}

@media (max-width: 730px) {
  .card-battles {
    width: 374px;
    height: 250px;

    &__caption {
      padding: 15px 0 0 25px;
    }

    &__star-red {
      right: -98.5px;
      top: -1px;
    }

    &__star-silver,
    &__star-gray {
       right: -99.5px;
    }

    &__groups {
      position: relative;
      top: -77px;
    }

    &__pubg {
      position: relative;
      top: -95px;
    }

    &__play {
      top: 20px;
    }

    &__live {
      font-size: 12px;
      font-weight: bold;
      top: 63px;
      width: 54px;
      text-align: center;
      line-height: 15px;
    }

    &__footer {
      position: relative;
      top: -85px;
    }

    &__caption,
    &__groups,
    &__pubg,
    &__footer {
      padding-left: 15px;
    }
  }
}

@media (max-width: 360px) {
  .card-battles {
    &__star-red,
    &__star-silver,
    &__star-gray {
      right: -84.5px;
    }
  }
}

@media (max-width: 320px) {
  .card-battles {
    &__star-red,
    &__star-silver,
    &__star-gray {
      right: -44.5px;
    }
  }
}