.card-battles {
  width: 336px;
  height: 350px;
  background-color: #fff;

  &__caption {
    letter-spacing: 0.01em;
    color: #8f9a9d;
    padding: 25px 0 0 25px;
  }

  &__header {
    display: flex;
  }

  &__star-red {
    background-image: url(../../../images/card-star-red.png);
  }

  &__star-silver {
    background-image: url(../../../images/card-star-silver.png);
  }

  &__star-gray {
    background-image: url(../../../images/card-star-gray.png);
  }

  &__star-red,
  &__star-silver,
  &__star-gray {
    background-repeat: no-repeat;
    width: 182px;
    height: 164px;
    position: relative;
    right: -51px;
  }

  &__play {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &__live {
    position: absolute;
    top: 72px;
    right: 20px;
    letter-spacing: 0.06em;
    color: #fff;
  }

  &__data {
    position: absolute;
    top: 65px;
    right: 30px;
    letter-spacing: 0.01em;
    color: #8f9a9d;
  }

  &__pubg {
    padding: 0 0 10px 25px;
  }

  &__groups {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__group,
  &__time {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #282830;
  }

  &__group:first-child {
    margin-bottom: 5px;
  }

  &__match {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 10px 13px;
    margin-top: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: #8F9A9D;
  }

  &__footer {
    display: flex;
    margin: 20px 25px 0 25px;
  }

  &__info {
    letter-spacing: 0.01em;
    color: #8f9a9d;
    transform: translate(0, -2px);

    &--margin {
      margin-left: 10px;
    }
  }
  
  &__caption,
  &__live,
  &__info,
  &__data {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}